body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(spa.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #1d0002;
  border-radius: 19px;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: #ff9999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 12px;
}

li a:hover {
  background-color: #343434;
  border-color: #000000;
  border-width: 6px;
  box-shadow: 5px 8px 18px black;
}

img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
	color: solid pink;
	font-family: initial;
	font-size: 2em;
	text-align: center;
	width: auto;
	background-color: #1A1110;
	border-radius: 10px;
}

h1:hover{
	box-shadow: 8px 10px 90px red;
	background-color: #232B2B;
}

hr {
	border-color:  #F05F44;
	border-width: 3px;
	max-width: 65px;
}

.buffer {
	height: auto;
}


.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}



.btn-primary {
	background-color: #030200;
	border-color: #F05F44;
}

.btn-primary:hover {
	background-color: #150e06;
	border-color: #ee4b08;
	border-width: 5px;
}




.btn-xl {
	padding: 1rem 2rem;

}


.newcolor {
	color: solid pink;
	font-size: 3em;
}

.contact{
	color: solid pink;
	font-weight: 100;
	font-family: arial;
	font-size: 2em;
}


.distrack{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


p {
	height: fit-content;
	width: fit-content;
	background-color: #37474F;
	border-radius: 12px;
	font-size: 1.5em;
	box-shadow: 8px 10px 90px black;
	color: 	#FF0090;
	transition: transform 1.2s;
}

p:hover{
	box-shadow: 8px 10px 90px red;
	transform: scale(1.3);

}


